<div th:fragment="footerTag" id="footer">
    <br>
    <footer class="small bg-light">
        <div class="container py-3 py-sm-5">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3">
                    <h6>Quick links</h6>
                    <ul class="list-unstyled">
                        <li><a href="/">Home</a></li>
                        <!--<li><a href="#">Services</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Team</a></li>-->
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h6>Information</h6>
                    <ul class="list-unstyled">
                        <!--<li><a href="#0">Legal information</a></li>
                        <li><a href="#0">Job opportunities</a></li>-->
                        <li><a href="#0">Frequently Asked Questions</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h6>Follow us</h6>
                    <ul class="list-unstyled">
                        <!--<li><a href="#0"><i class="fab fa-fw fa-facebook"></i> Facebook</a></li>
                        <li><a href="#0"><i class="fab fa-fw fa-instagram"></i> Instagram</a></li>
                        <li><a href="#0"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>-->
                        <li><a href="#0"><i class="fab fa-fw fa-youtube"></i> YouTube</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                    <h6>Our location</h6>
                    <address>
                        <!--<strong>Service Center</strong><br>-->
                        Sri Shiridi Sai Temple,<br>
                        Chennai - 600130.<br>
                        <!--<i class="fas fa-fw fa-phone"></i> <a href="tel:+91234567890">+91-4567890761</a><br>
                        <i class="fas fa-fw fa-envelope"></i> <a href="mailto:info@domain.com">info@domain.com</a>-->
                    </address>
                </div>
            </div>
            <ul class="list-inline mt-2 mb-0 text-center">
                <li class="list-inline-item">&copy; 2024 Company Name</li>
                <li class="list-inline-item">All rights reserved.</li>
            </ul>
        </div>
    </footer>
    <div th:replace="~{fragment/jsTag}"></div>
</div>
